
<div class="">
    <div class="jumbotron">
        <div class="row" style="margin-top: -20px;">
            <div class="col-md-9">
                <p><img style="width: 45px; height: 45px;" src="img/done.png" alt=""/>You have won this product for <b>$<span id="valueBid"></span></b>. </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 centerAlign">
                <img class="logo" src="img/electronics/iphone4s.JPG" alt=""/>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Apple iPhone 4s - 16GB - Black (Sprint) Smartphone Great Condition</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">Item condition:</div>
                    <div class="col-md-9 margin-bottom-10">New</div>
                    <div class="col-md-3">Auction Ends:</div>
                    <div class="col-md-9 margin-bottom-10">Ended at 4:55pm on 11/30/2014</div>

                </div>
                <div class="row padding-top-20 padding-bottom-15">
                    <div class="col-md-3">Seller:</div>
                    <div class="col-md-9 margin-bottom-10"><a href="javascript:void(0)">David Smith</a></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9 margin-bottom-10">4 out of 5 rating</div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9 margin-bottom-10">david@gmail.com</div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9 margin-bottom-10">The most reputed and trusted seller collaborated with iBid.
                        Sold more that 150 products throudh iBid portal.</div>

                </div>
                <hr>
            </div>
        </div>

        <div class="row boxshadow-5" style="padding: 10px;">
            <div class="col-md-12">
                <span>
                    <img style="width: 30px; height: 30px;" src="img/alert.gif" alt=""/>
                    Bidding has ended on this item and an automated e-mail has been sent to you and the seller of this product.
                    You can contact each other for further payment and proceedings.

                </span>
                <br>
                <div style="margin-top: 15px;">Thank you.</div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#valueBid").text(bidDonePrice);
    });
</script>