<div id="productDetails" class="">
    <div class="">
        <div class="row">
            <div class="col-md-4 centerAlign">
                <img id="imageDisplay" class="logo margin-bottom-10" src="img/electronics/iphone4s.JPG" alt=""/>
                <div class="editableEle">
                    <input id="editImage" name="editImage" class="input-file" type="file" accept="image/*">
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Apple iPhone 4s - 16GB - Black (Sprint) Smartphone Great Condition</h4>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">Item condition:</div>
                    <div class="col-md-9 margin-bottom-10">New</div>
                    <div class="col-md-3">Auction Ends:</div>
                    <div class="col-md-9 margin-bottom-10">12/30/2014</div>
                    <div class="col-md-3">Seller name:</div>
                    <div class="col-md-9">
                        <a id="sellerLink" href="javascript:void(0)" 
                           data-container="body"
                           data-toggle="popover" 
                           data-trigger="focus" 
                           title="David Smith (4 out of 5 rating)" 
                           data-content="The most reputed and trusted seller collaborated with iBid.
                           Sold more that 150 products throudh iBid portal.">
                            David Smith</a></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9 margin-bottom-10">100% Positive feedback</div>
                    <div class="col-md-3 editableEle">
                        Description:
                    </div>
                    <div class="col-md-9 margin-bottom-10 editableEle">
                        <input id="editDescription" name="editDescription" class="input-file" type="file">
                    </div>                    
                </div>
                <hr>
                <div class="row boxshadow-5 padding-top-20 padding-bottom-15">
                    <div class="col-md-3">Current bid:</div>
                    <div class="col-md-9 margin-bottom-10"><b>US $470.00</b></div>
                    <form action="javascript:void(0)" class="form-horizontal editableEle" id="bidChangeForm">
                        <div class="col-md-3">Minimum raise:</div>
                        <div class="col-md-4">
                            <input value="10" id="minBidIncrement" name="minBidIncrement" type="text" placeholder="your bid price" class="form-control input-md" required="">
                        </div>
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-5">
                            <button id="saveBtn" name="addBtn" class="btn btn-primary">Save</button>
                        </div>
                    </form>

                    <div class="col-md-3 showEle" style="display: none;">Minimum raise:</div>
                    <div class="col-md-9 showEle margin-bottom-10" style="display: none;">
                        US $ <span id="raiseValu">10.00</span>
                    </div>


                    <div class="col-md-3"></div>
                    <div class="col-md-9 margin-bottom-10">
                        25 bids so far. <a href="javascript:void(0)">view history</a>
                    </div>
                </div>
                <hr>
                <div class="row text-small">


                    <div class="col-md-3">Shipping:</div>
                    <div class="col-md-9 margin-bottom-10">FREE Expedited Shipping | <a href="javascript:void(0)">See details</a>

                        Item location:
                        Saint James, Missouri, United States

                        Ships to:
                        United States and many other countries | <a href="javascript:void(0)">See details</a></div>

                    <div class="col-md-3">Delivery:</div>
                    <div class="col-md-9">On or before Wed. Dec. 12 to 64468
                        Estimated by eBay FAST 'N FREE  </div>

                    <div class="col-md-3">Payments:</div>
                    <div class="col-md-9 margin-bottom-10"><div id="payDet1" class="">
                            <img class="pd-img" style="margin-right: 10px;" src="http://ir.ebaystatic.com/pictures/aw/pics/logos/logoPayPal_51x14.png" alt="PayPal" border="0">															
                            <span style="position:relative;">
                                <img src="http://ir.ebaystatic.com/pictures/aw/pics/logos/CC_icons.png" alt="Visa/MasterCard, Amex, Discover" class="pd-pp-cc-container">
                                <div class="vi-ppc-coffer-txt">Credit Cards processed by PayPal</div>		
                                <div class="u-cb u-spcr-ht15"></div>
                            </span>
                            <div>
                                <img src="http://ir.ebaystatic.com/pictures/aw/pics/logos/logoPaypalCredit_104x16.png" class="pd-ppc-img" alt="PayPal Credit">							
                            </div>
                            <span><a href="javascript:void(0)" rel="nofollow"></a>
                                <a id="e11" aria-describedby="paymentsPlaceHolderId"  href="javascript:void(0)" class="vi-ds3-ter-a pd-lnk vi-payd-blk-lnk">See <b class="hideforacc">payment</b> details</a>
                            </span>
                        </div></div>

                    <div class="col-md-3">Returns:</div>
                    <div class="col-md-9 margin-bottom-10">Seller does not offer returns. You are covered 
                        by the iBid Money Back Guarantee if you received 
                        an item that is not as described in the listing.</div>

                    <div class="col-md-3">Guarantee:</div>
                    <div class="col-md-9 margin-bottom-10">
                        Get the item you ordered or get your money back.
                        Covers your purchase price and original shipping.
                    </div>

                </div>
            </div>
        </div>
        <hr>
        <div class="row margin-bottom-15">
            <div class="col-md-12"><b>Product Identifiers</b></div>
            <div class="col-md-3">Brand</div>
            <div class="col-md-9">Apple</div>
            <div class="col-md-3">Carrier</div>
            <div class="col-md-9">Unlocked</div>
            <div class="col-md-3">Family Line</div>
            <div class="col-md-9">Apple iPhone</div>
            <div class="col-md-3">Model</div>
            <div class="col-md-9">5</div>
            <div class="col-md-3">UPC</div>
            <div class="col-md-9">885909530205, 885909637232</div>
            <div class="col-md-3">Type</div>
            <div class="col-md-9">Smartphone</div>
        </div>

        <div class="row margin-bottom-15">
            <div class="col-md-12"><b>Key Features</b></div>
            <div class="col-md-3">Storage Capacity	</div>
            <div class="col-md-9">32 GB
            </div>
            <div class="col-md-3">Color</div>
            <div class="col-md-9">White & Silver
            </div>
            <div class="col-md-3">Network Generation	</div>
            <div class="col-md-9">2G, 3G, 4G
            </div>
            <div class="col-md-3">Network Technology	</div>
            <div class="col-md-9">GSM / EDGE / CDMA EV-DO Rev. A and Rev. B / UMTS / HSPA+ / DC-HSDPA / LTE, GSM / EDGE / UMTS / HSPA+ / DC-HSDPA / LTE</div>
            <div class="col-md-3">Band</div>
            <div class="col-md-9">GSM/EDGE 850/900/1800/1900 UMTS/HSPA+ / DC-HSDPA 850/900/1900/2100 LTE 4/17
            </div>
            <div class="col-md-3">Style	</div>
            <div class="col-md-9">Smartphone</div>
            <div class="col-md-3">Camera	</div>
            <div class="col-md-9">8.0 MP
            </div>
        </div>

        <div class="row margin-bottom-15">
            <div class="col-md-12"><b>Battery</b></div>
            <div class="col-md-3">Battery Type	</div>
            <div class="col-md-9">Rechargeable Li-Ion Battery
            </div>
            <div class="col-md-3">Battery Talk Time	</div>
            <div class="col-md-9">Up to 480 min
            </div>
            <div class="col-md-3">Battery Standby Time	</div>
            <div class="col-md-9">Up to 225 hr
            </div>
        </div>

        <div class="row margin-bottom-15">
            <div class="col-md-12"><b>Display</b></div>
            <div class="col-md-3">Display Technology	</div>
            <div class="col-md-9">Retina
            </div>
            <div class="col-md-3">Diagonal Screen Size</div>
            <div class="col-md-9">4 in.</div>
            <div class="col-md-3">Display Resolution</div>
            <div class="col-md-9">1136 x 640 pixels</div>
        </div>


        <div class="row margin-bottom-15">
            <div class="col-md-12"><b>Other Features</b></div>
            <div class="col-md-3">Touch Screen	</div>
            <div class="col-md-9">Yes</div>
            <div class="col-md-3">Bluetooth</div>
            <div class="col-md-9">Yes</div>
            <div class="col-md-3">Digital Camera</div>
            <div class="col-md-9">Yes</div>
            <div class="col-md-3">GPS</div>
            <div class="col-md-9">Yes</div>
            <div class="col-md-3">Email Access</div>
            <div class="col-md-9">Yes</div>
            <div class="col-md-3">Internet Browser</div>
            <div class="col-md-9">Yes</div>
            <div class="col-md-3">Speakerphone</div>
            <div class="col-md-9">Yes</div>
        </div>

        <div class="row margin-bottom-15">
            <div class="col-md-12"><b>Dimensions</b></div>
            <div class="col-md-3">Height</div>
            <div class="col-md-9">4.87 in.</div>
            <div class="col-md-3">Depth</div>
            <div class="col-md-9">0.3 in.</div>
            <div class="col-md-3">Width</div>
            <div class="col-md-9">2.31 in.</div>
            <div class="col-md-3">Weight</div>
            <div class="col-md-9">3.95 oz</div>
        </div>

        <div class="row margin-bottom-15">
            <div class="col-md-12"><b>Miscellaneous</b></div>
            <div class="col-md-3">Release Date	</div>
            <div class="col-md-9">9/12/2012</div>
        </div>

    </div>
</div>
<hr>
<script>


    $(document).ready(function() {
        $(".showEle").hide();
        $(".editableEle").show();

        $("#sellerLink").click(function() {
            $(this).popover('show');
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    imageUrl = e.target.result;
                    $('#imageDisplay').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#editImage").change(function(e) {
            readURL(this);
        });



        $("#bidChangeForm").submit(function() {
            alert("You have successfully changed the details.");
            var value = $("#minBidIncrement").val();
            $(".showEle").show();
            $(".editableEle").hide();
            $("#raiseValu").text(value);
        });

    });
</script>