<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <span style="font-size: 30px;">Stay Connected. Follow iBid Today.   »   »   »
            </span>
        </div>
        <div class="col-xs-4">
            <a class="socialicon yt" target="_blank" href="http://www.youtube.com"></a>
            <a class="socialicon pt" target="_blank" href="http://www.pinterest.com"></a>
            <a class="socialicon tw" target="_blank" href="http://twitter.com"></a>
            <a class="socialicon fb" target="_blank" href="https://www.facebook.com"></a>
        </div>
    </div>
    <div class="footerLine"></div>
    <div class="row2">
        <ul>
            <li>
                <a href="javascript:void(0)">Register</a>
                <a href="javascript:void(0)">Login</a>
                <a href="javascript:void(0)">Help</a>
                <a href="javascript:void(0)">Contact</a>
                <a href="javascript:void(0)">Site Map</a>
            </li>
            <li>
                <a href="javascript:void(0)">About</a>
                <a href="javascript:void(0)">Press</a>
                <a href="javascript:void(0)">Jobs</a>
                <a href="javascript:void(0)">Our Team</a>
                <a href="javascript:void(0)">iMerchant Seller</a>
                <a href="javascript:void(0)">iBid Affiliates</a>
            </li>
            <li>
                <a href="javascript:void(0)">iBid Deals</a>
                <a href="javascript:void(0)">Auctions Closing Soon</a>
                <a href="javascript:void(0)">Trending Deals</a>
                <a href="javascript:void(0)">Mega auctions</a>
                <a href="javascript:void(0)">24-Hour auctions</a>
                <a href="javascript:void(0)">Charity Auctions</a></li>
        </ul>
    </div>
    <div class="footerLine"></div>
    <div class="row3">Copyright ©2014 iBid Corporation, All Rights Reserved Designated trademarks, logos and brands are the property of their respective owners.<br>PROTECTED BY U.S. PATENT NOS. #43,458,625; 4,212,041; 4,212,042 AND PAT. PENDING<br>Use of this web site constitutes acceptance of the iBid.com <a href="javascript:void(0)">User Agreement</a> and <a href="javascript:void(0)">Privacy Policy</a>.</div>
</div>