<div class="jumbotron">
    <div class="row" style="margin-top: -30px;">
        <div class="col-md-12 text-center">
            <h3>List of members registered</h3>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <div class="row user-row">
                    <div class="col-md-8" style="margin-left: 30px;">
                        <div class="span1">
                            <img class="img-circle"
                                 src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                                 alt="User Pic">
                        </div>
                        <div class="span10">
                            <strong>Bearcat</strong><br>
                            <span class="text-muted">User level: Registered user</span>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <a style="margin-top: 22px;" class="pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="span1 dropdown-user" data-for=".cyruxx">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">User information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row-fluid">
                                <div class="span3">
                                    <img class="img-circle"
                                         src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                         alt="User Pic">
                                </div>
                                <div class="span6">
                                    <strong>Bearcat</strong><br>
                                    <table class="table table-condensed table-responsive table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>User level:</td>
                                                <td>Registered user</td>
                                            </tr>
                                            <tr>
                                                <td>Registered since:</td>
                                                <td>11/12/2014</td>
                                            </tr>
                                            <tr>
                                                <td>Activeness</td>
                                                <td>70%</td>
                                            </tr>
                                            <tr>
                                                <td>Warnings</td>
                                                <td>0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="mailto:bearcat@gmail.com">
                                <button class="btn  btn-primary" type="button"
                                        data-toggle="tooltip"
                                        data-original-title="Send message to user"><span class="glyphicon glyphicon-envelope"></span></button>
                            </a>
                            <span class="pull-right">
                                <button class="btn btn-danger" type="button"
                                        data-toggle="tooltip"
                                        data-original-title="Remove this user"><span class="glyphicon glyphicon-remove"></span> </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <div class="row user-row">
                    <div class="col-md-8" style="margin-left: 30px;">
                        <div class="span1">
                            <img class="img-circle"
                                 src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                                 alt="User Pic">
                        </div>
                        <div class="span10">
                            <strong>Chardy(Me)</strong><br>
                            <span class="text-muted">User level: Administrator</span>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <a style="margin-top: 22px;" class="pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <div class="span1 dropdown-user" data-for=".cyruxx">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">User information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row-fluid">
                                <div class="span3">
                                    <img class="img-circle"
                                         src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                         alt="User Pic">
                                </div>
                                <div class="span6">
                                    <strong>Carolyn Hardy</strong><br>
                                    <table class="table table-condensed table-responsive table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>User level:</td>
                                                <td>Administrator</td>
                                            </tr>
                                            <tr>
                                                <td>Registered since:</td>
                                                <td>11/12/2013</td>
                                            </tr>
                                            <tr>
                                                <td>Activeness</td>
                                                <td>95%</td>
                                            </tr>
                                            <tr>
                                                <td>Warnings</td>
                                                <td>0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="mailto:chardy@gmail.com">
                                <button class="btn  btn-primary" type="button"
                                        data-toggle="tooltip"
                                        data-original-title="Send message to user"><span class="glyphicon glyphicon-envelope"></span></button>
                            </a>
                            <span class="pull-right">
                                <button class="btn btn-danger" type="button"
                                        data-toggle="tooltip"
                                        data-original-title="Remove this user"><span class="glyphicon glyphicon-remove"></span> </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <div class="row user-row">
                    <div class="col-md-8" style="margin-left: 30px;">
                        <div class="span1">
                            <img class="img-circle"
                                 src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                                 alt="User Pic">
                        </div>
                        <div class="span10">
                            <strong>Kpruxx</strong><br>
                            <span class="text-muted">User level: Registered user</span>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <a style="margin-top: 22px;" class="pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <div class="span1 dropdown-user" data-for=".cyruxx">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">User information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row-fluid">
                                <div class="span3">
                                    <img class="img-circle"
                                         src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                         alt="User Pic">
                                </div>
                                <div class="span6">
                                    <strong>Kpruxx yzzzy</strong><br>
                                    <table class="table table-condensed table-responsive table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>User level:</td>
                                                <td>Registered user</td>
                                            </tr>
                                            <tr>
                                                <td>Registered since:</td>
                                                <td>11/12/2013</td>
                                            </tr>
                                            <tr>
                                                <td>Activeness</td>
                                                <td>5%</td>
                                            </tr>
                                            <tr>
                                                <td>Warnings</td>
                                                <td>10</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="mailto:Kpruxx@gmail.com">
                                <button class="btn  btn-primary" type="button"
                                        data-toggle="tooltip"
                                        data-original-title="Send message to user"><span class="glyphicon glyphicon-envelope"></span></button>
                            </a>
                            <span class="pull-right">
                                <button class="btn btn-danger" type="button"
                                        data-toggle="tooltip"
                                        data-original-title="Remove this user"><span class="glyphicon glyphicon-remove"></span> </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".panel-footer .btn-danger").click(function() {
            var is = confirm("Are you sure you want to block this user by removing it from the trusted list?");
            if (is) {
                console.log($(this).parents('.panel-default'));
                $(this).parents('.panel-default').remove();
            } else {
                return;
            }
        });
    })
</script>