<div class="row">
    <div class="col-md-12">
        <span style="font-size: 25px;">Today's Featured Collections</span>
    </div>
</div>
<hr>
<div class="row">

    <div class="col-xs-6">
        <div class="homeGrid">
            <div>
                <div>
                    <img class="logo" src="img/grid/wool.JPG" alt=""/>
                </div>
                <div>
                    <div class="description-left">
                        <h3><a href="#">Warm in Wool</a></h3>
                        <span>Find a black snap-front wool men’s jacket from Guess, a pair of beige wool fingerless Boss gloves, or a burgundy women’s wool-blend coat from Jones New York—plus a pair of plush earmuffs with built-in wireless headphones and mic.
                        </span>
                    </div>
                    <div class="description-right">
                        <ul>
                            <li>15 Items</li>
                            <hr>
                            <li>$5 - 254</li>
                            <hr>
                            <li><a href="#">Bid now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 ">
        <div class="homeGrid">
            <div>
                <div>
                    <img class="logo" src="img/grid/tech.JPG" alt=""/>
                </div>
                <div>
                    <div class="description-left">
                        <h3><a href="#">Tech that Ships Internationally</a></h3>
                        <span>Check out this white mini wireless Bluetooth stereo speaker with NFC pairing, a clip-on laptop USB webcam with a built-in microphone from Logitech, or a 27-inch LCD computer monitor—plus a white 16-gigabyte unlocked Samsung Galaxy S III.
                        </span>
                    </div>
                    <div class="description-right">
                        <ul>
                            <li>14 Items</li>
                            <hr>
                            <li>$7 - 862</li>
                            <hr>
                            <li><a href="#">Bid now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-6 ">
        <div class="homeGrid">
            <div>
                <div>
                    <img class="logo" src="img/grid/chair.JPG" alt=""/>
                </div>
                <div>
                    <div class="description-left">
                        <h3><a href="#">A Simple Feast</a></h3>
                        <span>Check out this bar of Beekman unscented goat’s milk soap, a preseasoned cast-iron teakettle from Old Mountain, or a six-pack of Noble handmade maple syrup—plus a vintage butcher block table made from solid maple wood.
                        </span>
                    </div>
                    <div class="description-right">
                        <ul>
                            <li>17 Items</li>
                            <hr>
                            <li>$6 - 1,500</li>
                            <hr>
                            <li><a href="#">Bid now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 ">
        <div class="homeGrid">
            <div>
                <div>
                    <img class="logo" src="img/grid/fixes.JPG" alt=""/>
                </div>
                <div>
                    <div class="description-left">
                        <h3><a href="#">The Fix Is In</a></h3>
                        <span>Check out this four-in-one pocket screwdriver from i-tools, an Ingersoll Rand ½-inch low-profile hammerhead impact ratchet, or a foldable portable workstation from Rockwell—plus an 80-piece set of tungsten carbide router bits.
                        </span>
                    </div>
                    <div class="description-right">
                        <ul>
                            <li>10 Items</li>
                            <hr>
                            <li>$15 - 985</li>
                            <hr>
                            <li><a href="#">Bid now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-6 ">
        <div class="homeGrid">
            <div>
                <div>
                    <img class="logo" src="img/grid/gadgets.JPG" alt=""/>
                </div>
                <div>
                    <div class="description-left">
                        <h3><a href="#">Gadgets for On the Go</a></h3>
                        <span>Shop for a white mini portable Bluetooth speaker with NFC pairing, a cylindrical lime green power pack for your mobile device, or a Samsung Galaxy Gear smart watch—plus a factory refurbished GoPro camcorder.
                        </span>
                    </div>
                    <div class="description-right">
                        <ul>
                            <li>17 Items</li>
                            <hr>
                            <li>$6 - 499</li>
                            <hr>
                            <li><a href="#">Bid now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 ">
        <div class="homeGrid">
            <div>
                <div>
                    <img class="logo" src="img/grid/home.JPG" alt=""/>
                </div>
                <div>
                    <div class="description-left">
                        <h3><a href="#">Rise Above</a></h3>
                        <span>Shop for an orange reclining chair with an ottoman designed by Milo Baughman, a Hudson’s Bay Company coyote fur blanket, or a white faux taxidermy deer head with bronze antlers—plus a cast-iron skillet in the shape of Minnesota.
                        </span>
                    </div>
                    <div class="description-right">
                        <ul>
                            <li>17 Items</li>
                            <hr>
                            <li>$45 - 450</li>
                            <hr>
                            <li><a href="#">Bid now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-6 ">
        <div class="homeGrid">
            <div>
                <div>
                    <img class="logo" src="img/grid/pets.JPG" alt=""/>
                </div>
                <div>
                    <div class="description-left">
                        <h3><a href="#">Best Bets for Pets</a></h3>
                        <span>Check out this small brown plush couch for your dog from Pawhut, a 73-inch-high cat condo and scratching post, or a pop-up outdoor tent for your furry friend—plus a red bike trailer or jogging stroller for pets.
                        </span>
                    </div>
                    <div class="description-right">
                        <ul>
                            <li>14 Items</li>
                            <hr>
                            <li>$6 - 162</li>
                            <hr>
                            <li><a href="#">Bid now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 ">
        <div class="homeGrid">
            <div>
                <div>
                    <img class="logo" src="img/grid/stylenslopes.JPG" alt=""/>
                </div>
                <div>
                    <div class="description-left">
                        <h3><a href="#">Style on the Slopes</a></h3>
                        <span>Check out this shiny navy blue padded down jacket from Sacai Luck, a pair of vintage silver Chanel ski goggles, or a knit wool blend neckwarmer from Stella McCartney for Adidas—plus a pair of white Salomon all-mountain women’s skis.
                        </span>
                    </div>
                    <div class="description-right">
                        <ul>
                            <li>18 Items</li>
                            <hr>
                            <li>$23 - 2,534</li>
                            <hr>
                            <li><a href="#">Bid now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-6 ">
        <div class="homeGrid">
            <div>
                <div>
                    <img class="logo" src="img/grid/trek.JPG" alt=""/>
                </div>
                <div>
                    <div class="description-left">
                        <h3><a href="#">Make the Trek</a></h3>
                        <span>Shop for a pair of Illesteva sunglasses with brown lenses, an olive green hooded Filson cape jacket, or a pair of brown suede Santoni hiking boots—plus a topographical map of Yosemite from 1911.
                        </span>
                    </div>
                    <div class="description-right">
                        <ul>
                            <li>18 Items</li>
                            <hr>
                            <li>$16 - 842</li>
                            <hr>
                            <li><a href="#">Bid now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 ">
        <div class="homeGrid">
            <div>
                <div>
                    <img class="logo" src="img/grid/trim.JPG" alt=""/>
                </div>
                <div>
                    <div class="description-left">
                        <h3><a href="#">Tame Your Movember</a></h3>
                        <span>Find Bulgari’s BLV men’s aftershave splash, a Dutch-engineered wet/dry electric nose and ear trimmer, or a bottle of Calvin Klein Truth cologne—plus a three-piece Conair personal grooming kit with an angled cutting system.
                        </span>
                    </div>
                    <div class="description-right">
                        <ul>
                            <li>8 Items</li>
                            <hr>
                            <li>$6 - 34</li>
                            <hr>
                            <li><a href="#">Bid now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>