<div class="media col-md-3">
    <figure class="pull-left">
        <img class="imgHldr" style="width: 150px; height: 150px;" class="media-object img-rounded img-responsive"  src="img/electronics/samsungduos.jpg" alt="placehold.it/350x250" >
    </figure>
</div>
<div class="col-md-6">
    <h4 class="titleHldr list-group-item-heading">Samsung Galaxy S4 SCH-I545 - 16GB (Verizon) Factory Unlocked - Smartphone</h4>
    <p class="captionHldr list-group-item-text">Available in Black and White</p>
    <p class="list-group-item-text"></p>
    <p class="soldsofarHldr list-group-item-text">201+ sold</p>
    <p class="list-group-item-text">by</p>
    <p class="sellerHldr list-group-item-text" style="color: blue;cursor: pointer;">Greg Dean</p>
</div>
<div class="col-md-3 text-center">
    <h2> $ <span class="currentBidHldr">40</span> </h2>
    <button type="button" class="bidBtnHldr btn btn-default btn-lg btn-block"> Bid Now! </button>
    <div class="stars">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    </div>
    <p> Average 4.5 <small> / </small> 5 </p>
</div>